@charset "utf-8";
// set colors

$grey: #D8E3E7;
$main-light: #51C4D3;
$main: #126E82;
$main-dark: #132C33;

// Update Bulma's global variables
$grey-dark: $main-dark;
$grey-light: $grey;
$primary: $main;
$link: $main-light;

@import "../node_modules/bulma/bulma.sass";

.card {
  width: 90%;
  max-width: 450px;
  margin: 1rem auto 0;
  .card-footer {
    padding: .3rem;
    .button {
      margin: .3rem;
    }
    .card-footer-item:hover {
      cursor: pointer;
    }
  }

}